# Node modules
node_modules/

# Git files
.git/
.gitignore

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker files
Dockerfile
docker-compose.yml
.dockerignore 