footer.footer
  .container(class="flex justify-center items-center text-sm mt-5 opacity-80")
    a(href="https://github.com/mxschll/increment.gg" target="_blank" rel="noopener noreferrer") github.com/mxschll/increment.gg
