extends layout

block content

    h2.mb-4.flex.items-center.justify-between
        b Public Counters
        button#openCounterModalBtn.bg-blue-600.py-2(onclick="counterModal.open()" type="button") + new counter

    main.max-w-2xl.font-mono.m-auto.mb-10
        include counters