doctype html

html.antialiased.bg-bgH

    head
        title Increment.gg
        link(rel="stylesheet" href="/css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
        script(src="/socket.io/socket.io.js")
        script(src="/dist/app.js" defer)

    body.text-fg.bg-bgH.max-w-2xl.m-auto.font-mono.p-6.pt-3.md_pt-6.min-h-screen
        header.flex.mb-5.md_mb-10.items-center
            span.text-md.md_text-lg.whitespace-nowrap.font-bold
                a.pr-2(href="/") increment.gg
            nav.text-sm.grow.justify-end.items-center.flex.gap-1.md_gap-3
                a(class=`inline-flex hover_bg-[#313131] active_bg-[#242424] rounded-sm p-2 transition-[background-color] ${currentPath === '/' ? 'bg-[#313131]' : ''}`)(href="/") public
                a(class=`inline-flex hover_bg-[#313131] active_bg-[#242424] rounded-sm p-2 transition-[background-color] ${currentPath === '/private' ? 'bg-[#313131]' : ''}`)(href="/private") private

        block content

        include modals.pug