doctype html

html.antialiased.bg-bg

    head
        title Increment.gg
        link(rel="stylesheet" href="css/styles.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

    body.text-fg.bg-bg.max-w-2xl.m-auto.font-mono.p-6.pt-3.md_pt-6.min-h-screen
        header.flex.mb-5.md_mb-10.items-center
            span.text-md.md_text-lg.whitespace-nowrap.font-bold
                span.cursor-default.pr-2 increment.gg
            nav.text-xs.grow.justify-end.items-center.flex.gap-1.md_gap-3
                a(class='inline-flex hover_bg-[#313131] active_bg-[#242424] rounded-sm p-2.transition-[background-color]')(href="/about") About

        block content
