extends layout

block content
    div.mb-4.space-y-3.md_space-y-0.md_flex.md_items-center.md_justify-between
        b Your Counters
        div.flex.flex-wrap.items-center.gap-3
            if username
                button(class="border border-amber-200 px-3 py-2 text-sm font-medium rounded-md transition-colors text-amber-600 opacity-50 cursor-default max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap") #{username}
            else
                button#authButton(class="border border-amber-200 hover:border-amber-300 px-3 py-2 text-sm font-medium rounded-md transition-colors text-amber-600 hover:text-amber-900 hover:bg-amber-50 max-w-[200px] overflow-hidden text-ellipsis whitespace-nowrap") login
            button(id="openCounterModalBtn" class="py-2 inline-flex items-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible_outline-none focus-visible_ring-2 focus-visible_ring-ring focus-visible_ring-offset-2 disabled_pointer-events-none disabled_opacity-50 [&_svg]_pointer-events-none [&_svg]_size-4 [&_svg]_shrink-0 border h-10 px-4 py-2 justify-start text-amber-800 bg-white hover_bg-amber-100 hover_text-amber-900 border-amber-200 hover_border-amber-300" onclick="counterModal.open()" type="button") + new counter

    include counters
